.video-play {
    width: 100%;
    height: 100%;
    .Horizontal-swipe,
    .my-swipe,
    .video-box {
        position: relative;
        width: 100%;
        height: 100%;
    }
    .video {
        width: 100%;
        height: 100%; // object-fit: cover;
        object-fit: fill;
        &::-webkit-media-controls-fullscreen-button {
            display: none !important;
        }
        /*video默认aduio音量按钮*/
        &::-webkit-media-controls-mute-button {
            display: none !important;
        }
        /*video默认setting按钮*/
        &::-internal-media-controls-overflow-button {
            display: none !important;
        }
        /*腾讯云点播禁用firefox全屏、设置按钮*/
        .trump-button[sub-component="fullscreen_btn"],
        .trump-button[now="fullscreen"] {
            display: none!important;
        }
        .trump-button[sub-component="setting"] {
            display: none !important;
        }
        &::-webkit-media-controls {
            display: none !important;
        }
        &::-webkit-media-controls-enclosure {
            display: none !important;
        }
    }
    .video-img {
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
    .loading-animation {
        opacity: 0;
        transform: scale(2);
        animation: loading-show 1.2s ease-in-out infinite;
    }
    @keyframes loading-show {
        0% {
            transform: rotateZ(-90deg);
        }
        // 25% {
        //     transform: rotateZ(90deg);
        // }
        // 50% {
        //     transform: rotateZ(135deg);
        // }
        // 75% {
        //     transform: rotateZ(180deg);
        // }
        100% {
            transform: rotateZ(270deg);
        }
    }
    .playicon-animation {
        opacity: 0;
        transform: scale(2);
        animation: playicon-show 0.08s linear forwards;
    }
    @keyframes playicon-show {
        0% {
            transform: scale(2);
            opacity: 0;
        }
        100% {
            transform: scale(1);
            opacity: 1;
        }
    }
    .play-progress-detail {
        z-index: 101; // background-color: rgba($color: #000000, $alpha: 0.1);
        position: absolute;
        // bottom: 0;
        bottom: 40px;
        left: 0;
        width: 100%;
        height: 100px;
        text-align: center;
        display: flex;
        align-items: center;
        color: #ffffff;
        font-size: 20px;
        .inner-progress-detail {
            width: 100%;
            display: flex;
            font-weight: 600;
            .position {
                flex: 1;
                text-align: right;
            }
            .total {
                flex: 1;
                text-align: left;
            }
            .split {
                flex: 0 0 20px;
            }
        }
    }
    .play-progress {
        z-index: 102;
        position: absolute;
        // bottom: 0;
        bottom: 40px;
        left: 0;
        width: 100%;
        height: 2px;
    }
    .info {
        position: absolute;
        color: #ffffff;
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;
        width: 100%; // height: 120px;
        z-index: 100;
        text-align: left;
        font-size: 14px;
        line-height: 20px;
        box-sizing: border-box;
        .inner-info {
            padding: 0 10px 0;
            position: absolute;
            // bottom: 0; // width: calc(100%-20px);
            bottom: 40px;
            box-sizing: border-box;
            width: 100%;
        }
        .title,
        .desc {
            margin-bottom: 10px;
        }
        .title {
            font-size: 16px;
        }
        .desc {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3; // 行数
            -webkit-box-orient: vertical;
        }
        .music {
            width: 50%;
        }
    }
    .controls {
        position: absolute;
        color: #ffffff;
        bottom: 20%;
        right: 6px;
        width: 60px;
        height: 170px; // line-height: 30px;
        z-index: 101;
        text-align: center;
        .like,
        .comment,
        .share {
            // height: calc(100% / 3);
            height: 50px;
        }
        .like {
            margin-bottom: 14px;
        }
        .comment {
            margin-bottom: 6px;
        }
        .like-icon {
            font-size: 40px;
            &.islike {
                color: #e86074;
            }
        }
        .comment-icon,
        .share-icon {
            font-size: 34px;
        }
    }
    .loading-icon,
    .play-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        opacity: 1;
        transform: scale(1);
        z-index: 100;
        font-size: 72px;
        margin-top: -36px;
        margin-left: -36px;
        color: rgba($color: #ffffff, $alpha: 0.3);
    }
    .loading-icon {
        font-size: 56px;
        margin-top: -28px;
        margin-left: -28px;
        color: rgba($color: #ffffff, $alpha: 0.5);
    }
}

.comment-deatil {
    width: 100%;
    .comment-num {
        position: fixed;
        left: 0;
        right: 0;
        z-index: inherit;
        padding-top: 12px;
        padding-bottom: 6px;
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
        text-align: center;
        background: #fff;
    }
    .comment-list {
        font-size: 16px;
        line-height: 16px;
        padding-top: 32px; // padding-bottom: 50px;
        .comment-children {
            margin-left: 50px;
            .load-more-btn {
                font-size: 14px;
            }
        }
    }
    .comment-list-empty {
        position: relative;
        font-size: 16px;
        line-height: 16px;
        height: 100%;
        text-align: center;
        .text {
            text-align: center;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .comment-msg {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        // height: 50px;
        height: 90px;
        z-index: inherit;
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
        text-align: center;
        background: #fff;
        // display: flex;
        .comment-msg-btn {
            width: 100px;
            display: flex;
        }
        .comment-msg-btn-item {
            flex: 1;
            &.hf-box {
                .iconfont {
                    font-size: 22px;
                    padding: 6px 4px;
                }
            }
            &.xl-box {
                .iconfont {
                    font-size: 26px;
                    padding: 6px 4px;
                }
            }
            &.fs-box {
                .iconfont {
                    font-size: 24px;
                    padding: 6px 4px;
                }
                .active {
                    color: #e86074;
                }
            }
        }
        .emoji-list{
            height: 40px;
            display: flex;
            align-items: center;
            text-align: center;
            overflow-y: scroll;
            .emoji{
                flex: 0 0 40px;
                display: inline-block;
            }
        }
    }
    .second-comment-item {
        // transition: all 1s;
        // height: 100%; // opacity:1;
    } // .list-enter-active,.list-leave-active {
    //     transition: all 1s;
    //     height: 100%; // opacity: 0.5;
    // }
    // .list-leave-active {
    //     // position: absolute;
    // }
    // .list-move {
    //     transition: transform 1s;
    // }
    // .list-enter,
    // .list-leave-to {
    //     // opacity: 0; // transform: translateY(-100%);
    //     // height: 0;
    // }
    @keyframes mylist-out {
        from {
            height: 60px;
            opacity: 1;
        }
        to {
            height: 0;
            opacity: 0;
        }
    }
    @keyframes mylist-in {
        from {
            height: 0;
            opacity: 0;
        }
        to {
            height: 60px;
            opacity: 1;
        }
    }
}