@import '@assets/scss/global.scss';
.search {
    z-index: 105;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    color: #d6d5d5;
    .search-input {
        height: 50px;
        background-color: transparent;
        .left-icon {
            color: #d6d5d5;
        }
        .bottom {
            color: #FF2121;
        }
    }
    .history-list {
        color: #d6d5d5;
        text-align: left;
        font-size: 16px;
        .history-item {
            display: flex;
            align-items: baseline;
            height: 24px;
            padding: 4px 14px;
            .left-icon {
                margin-right: 10px;
                flex: 0 0 20px;
            }
            .right-icon {
                flex: 0 0 20px;
            }
            .text {
                // flex-grow: 1;
                // flex-shrink: 1;
                // flex-basis: auto;
                flex: 1;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap; // 空白不换行
            }
        }
        .history-bottom {
            color: #b9b6b6;
            height: 60px;
            line-height: 60px;
            text-align: center;
        }
    }
    .conjecture {
        padding-top: 10px;
        display: flex;
        flex-wrap: wrap;
        color: #d6d5d5;
        font-size: 16px;
        line-height: 16px;
        text-align: left;
        .item {
            flex: 0 0 50%;
            padding-top: 8px;
            padding-bottom: 8px; // line-height: 32px;
            @include text-ellipsis;
            .inner-item {
                padding-left: 10px;
            }
            .name {
                // width: calc(100%-26px);
                max-width: 150px;
                display: inline-block;
                @include text-ellipsis;
            }
            .hot {
                display: inline-block;
                margin-left: 4px;
                color: #fff;
                vertical-align: top;
            }
        }
    }
    .stars-time-suffix {
        margin-left: 4px;
    }
}